.dark {
  --background: theme('colors.gray.800');
  --accent: theme('colors.gray.900');
  --primary: theme('colors.white');
  --muted: 209 213 219;
}

.light {
  --background: theme('colors.gray.200');
  --accent: theme('colors.gray.100');
  --primary: theme('colors.gray.800');
  --muted: 55 65 81;
}

:root {
  background-color: var(--background, theme('colors.gray.800'));
  color: var(--primary, theme('colors.white'));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([href]) {
  opacity: 0.5;
  pointer-events: none;
}

p + p, p + blockquote {
  @apply mt-4;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
