name: deploy

on:
  push:
    branches:
      - main
    paths:
      - "cms/**"
      - ".github/workflows/deploy.yml"
      - "pnpm-lock.yaml"

jobs:
  studio:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: corepack enable
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy Sanity Studio
        run: pnpm sanity deploy
        working-directory: cms
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_AUTH_TOKEN }}
