name: sync

on:
  push:
    branches:
      - master

jobs:
  sync_devto:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1

      - uses: actions/cache@v1
        id: cache
        with:
          path: "node_modules"
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn

      - name: Update blogs on dev.to
        run: node scripts/publish.js
        env:
          DEVTO_TOKEN: ${{ secrets.DEVTO_TOKEN }}
